* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Araboto-Normal';
    src: url('fonts/Araboto-Normal.woff2') format('woff2'),
        url('fonts/Araboto-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.container {
    display: flex;
    height: 100vh;
}

.advertisement-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-image: url(images/leaf-background.avif);
    background-size: 100% auto;
}

.logo-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0, 50%);
    margin-top: 20vh;
}

.logo-container > img {
    height: 15vh;
}

.logo-container-text {
    display: flex;
    align-items: center;
    padding-top: 2vh; /* Norse font has a slight offset for some reason. */
    font-family: 'Norse';
    font-size: 10vh;
    color: white;
}

.photo-credit {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 1rem;
    font-family: 'Proxima Nova Rg';
}

.photo-credit a {
    color: white;
}

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-family: arial;
}

.section {
    flex: 1;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 12vw;
    padding-bottom: 2vw;
    font-size: max(1rem, 1.5vw);
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f9fafb;
}

.section-1 p:nth-child(1) {
    margin-bottom: 2vw;
}

span[class="italic-text"] {
    font-style: italic;
}

.section-2 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px darkgray;
}

.section-2-title {
    margin-bottom: 1vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

section {
    display: flex;
    flex: 1;
}

section div:nth-child(1) {
    margin-right: 4vw;
}

label, input {
    font-size: max(0.5rem, 0.75vw);
    font-family: 'Araboto-Normal';
    display: block;
}

input {
    width: 15vw;
    padding: 4px;
    border-color: #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
    background-color: #fffefe;
}

input:focus {
    border-color: blue;
    box-shadow: 0px 0px 5px;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    font-size: max(1rem, 1vw);
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    box-shadow: 5px 5px 3px lightgray;
    margin-bottom: 4vh;
    font-family: 'Arial';
}

.login {
    font-family: 'Arial';
    font-size: max(1rem, 1vw);
}

.section-3 a {
    color: #596D48;
    font-weight: bold;
}